html, body, #map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Verdana, Geneva, sans-serif";

}

.canvas { width: 100%; height: 100%; }
#map_canvas {
    width: 100%;
    float: left;
}
a:hover, a:active, a:focus { text-decoration: none; outline: none; }
#lateral { width: 20%; float: left; position: absolute; right: 0; bottom: 20px; z-index: 1000; }
.whitetheme { color: #eee; font-weight: bold; }
.whitetheme:hover { color: white; }
h5 { margin: 0; }
hr { margin: 4px 0; }
.smaller { font-size: 12px; line-height: 12px; color: #666; }
#zonas { position: absolute; z-index: 1000; top: 10px; left: 100px; }
fieldset { margin-bottom: 0; }
.modal-header { background: green; color: white; }
#footer {
position: absolute;
bottom: 0px;
left: 200px;
width: 121px;
height: 36px;
}
#totalizadores {
	background: url(/static/img/transparent_bg.png);
	background-image: url(/static/img/transparent_bg.png);
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	border: 1px silver dotted;
	padding: 5px;
	position: absolute;
	top:100px;
	right: 0px;
	width: 210px;
	padding: 5px;
	height: auto;
}
.imagen_estilo {
	background-color: transparent;
	border: none;
	color: white;
	text-decoration: none;
}